.container {
	max-width: 1536px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}
@media (max-width: 1700px) {
    .container {
        max-width: 1026px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 990px) {
    .container {
        max-width: 640px;
    }
}
@media (max-width: 600px) {
	.container {
		max-width: 100%;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Formular', sans-serif;
}
.header {
	padding-bottom: 29px;
	padding-top: 29px;
	font-size: 16px;
}

.header__top {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding-top: 24px;
}

.header__top_info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
	align-items: center;
	text-align: right;
}
.header__top_info-text p {
	font-weight: 400;
	color: #111827;
	font-size: 16px;
	line-height: 24px;
}
.header__top_info-contacts a {
    	font-size: 36px;
	line-height: 40px;
	font-weight: 900;
	color: #111827;
}
.header__top_info-contacts p {
   	font-size: 24px;
	line-height: 32px;
	font-weight: 300;
	color: #111827;
}
.header__top_info-svg {
	display: none;
}
.header__top_info-text {
	align-items: center;
}
.header__bottom {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding-top: 24px;
	align-items: center;
}

.header__bottom_info {
	display: flex;
	gap: 24px;
}
.header__bottom_info a {
   	font-weight: 400;
	color: #111827;
	font-size: 16px;
	line-height: 24px;
}
.header__bottom_btn {
}
.header__bottom_btn button {
	background-color: #8B5CF6;
	color: white;
	padding: 13px 20px;
	border-color: #8B5CF6;
	font-size: 16px;
	line-height: 24px;
	border-radius: 4px;
}
.header__bottom_text {
	display: none;
}
.main {
	padding-top: 72px;
	background-color: #F9FAFB;
}
.section {
	background-color: #E5E7EB;
}
.main-banner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
}
.main-banner_title {
    	font-size: 36px;
	line-height: 40px;
	font-weight: 900;
	color: #111827;
}

.main-banner_subtitle {
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	color: #111827;
	padding-top: 12px;
}
.main-banner_img {
	padding-top: 16px;	
}
.main-banner_img img {	
	width: 100%;
}
.main-banner__block {
    background-color: #F9FAFB;
    border-radius: 16px;
    padding: 24px 130px 24px 130px;
}
.main-banner__block_title {
	line-height: 36px;
	text-align: center;
	font-weight: 700;
	color: #111827;
}

.main-banner__block_subtitle {
	font-weight: 400;
	color: #111827;
	font-size: 16px;
	line-height: 24px;
	padding-top: 16px;
	text-align: center;
}
.main-banner__btn {
	padding-top: 28px;
}
.main-banner__btn button {
	background-color: #8B5CF6;
	color: #F9FAFB;
	width: 100%;
	border-color: #8B5CF6;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 4px;
	font-weight: 400;
}
.form__row {
}
.form__line {
}
.input {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	padding-top: 24px;
}
.username {
	width: 100%;
}
.info {
	border-radius: 1px;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 10px;
	width: 100%;
	border: 1px solid black;
}
section {
	padding-top: 72px;
}
.main-services__title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 900;
	text-align: center;
	padding-bottom: 32px;
	color: #111827;
}
.main-services__info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 24px;
	gap: 24px;
}
.main-services__info_block {
	display: grid;
	grid-template-columns: 32% 68%;
	gap: 12px;
}
.main-services__info_block-title {
	font-size: 24px;
	line-height: 32px;
	font-weight: 900;
	color: #111827;
}
.main-services__info_block-subtitle {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #111827;
}
.main-documents__subtitle {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	padding-top: 12px;
	font-weight: 400;
	color: #111827;
}
.main-documents__block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 24px;
	padding-top: 24px;
}
.main-documents__block_info-text {
	font-size: 18px;
	line-height: 28px;
	font-weight: 900;
	text-align: center;
	color: #111827;
}
.main-documents__block_info-img {
	text-align: center;
}
.main-documents__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 36px;
}
.main-documents__btn button {
	background-color: #8B5CF6;
	color: white;
	padding: 13px 20px;
	border-color: #8B5CF6;
	font-size: 16px;
	line-height: 24px;
	border-radius: 12px;
	font-weight: 900;
	color: #F9FAFB;
}
.main-reviews {
	padding-left: 23px;
	padding-right: 23px;
}
.main-reviews__block_reviews {
	background-color: #F9FAFB;
	border-radius: 16px;
	min-height: 350px;
	height: max-content;
	padding: 32px 43px;
	display: flex;
	flex-direction: column;
	width: 50%;
	min-width: calc(50% - 12px);
}
.main-reviews__block_reviews-title {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	gap: 30px;
	color: #111827;
}
.main-reviews__info {
	display: grid;
	grid-template-columns: 60px 1fr 60px;
	gap: 35px;
}
.main-reviews__block {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	overflow: auto;
}
.main-reviews__block_arrow {
	margin-top: 111px;
}
.main-reviews__block_reviews-subtitle {
	font-size: 24px;
	line-height: 32px;
	margin-top: auto;
	color: #6B7280;
	font-weight: 300;
}
.main-feedback {
	padding-bottom: 72px;
}
.main-feedback__container {
background-color: #F9FAFB;
border-radius: 16px;
padding-top: 64px;
padding-bottom: 64px;
}
.form__row_feedback {
	display: flex;
	justify-content: center;
	gap: 24px;
}
.message {
	height: 150px;
	width: 497px;
}
.feedback__info {
	width: 497px;
	margin-left: auto;
	margin-right: auto
}
textarea {
	width: 100%;
   	border: 1px solid black;
	padding-top: 12px;
   	padding-left: 12px;	
}
.feedback__info_btn {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.feedback__info_btn button {
	background-color: #8B5CF6;
	padding: 13px 20px;
	border-color: #8B5CF6;
	font-size: 16px;
	line-height: 24px;
	border-radius: 4px;
	color: #F9FAFB;
	font-weight: 700;
}
.footer_cap {
	padding-bottom: 40px;
}
.footer_top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	padding-top: 24px;
	align-items: center;
}
.footer {
	background-color: #111827;
}
a {
	text-decoration: none;
	color: #F9FAFB;
}
.footer__top_logo-subtitle {
	color: #F9FAFB;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
}
.footer__top_info-contacts {
	color: #F9FAFB;
	text-align: right;
}
.footer__top_info-contacts p {
    	font-size: 24px;
    	line-height: 32px;
	font-weight: 400;
}
.footer_subtitle {
	color: #4B5563;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
}
.footer__top_info {
	font-size: 16px;
	line-height: 24px;
	align-items: center;
	text-align: center;
	font-weight: 700;
}
.footer__top_info-number {
	font-size: 36px;
	line-height: 40px;
	font-weight: 900;
}
.footer_bottom {
	display: flex;
	justify-content: space-between;
	padding-top: 24px;
}


@media (max-width: 1700px) {
	.header__top {
		display: flex;
		justify-content: space-between;
    		gap: 60px;
    		padding-top: 24px;
}
	.header__top_info {
		gap: 12px;
	}
	.header__top_info-contacts a {
		font-size: 30px;
		line-height: 36px;
	}
	.header__top_info-contacts p {
		font-size: 20px;
		line-height: 28px;
	}
	.main-banner {
		grid-template-columns: 1fr;
	}
	.main-banner__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		
	}
	.main-banner_title {
		grid-row-start: 1;
		font-size: 30px;
    		line-height: 36px;
	}
	.main-banner_subtitle {
		grid-row-start: 2;
	}
	.main-banner_img {
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.main-services__info {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.main-documents__block {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.main-reviews__block_reviews {
   		height: 276px;
	}
	.main-reviews__block_reviews-title {
		font-size: 18px;
		padding: 16px;
	}
	.main-reviews__block_reviews-subtitle {
		font-size: 18px;
		padding: 24px 16px;
	}
}
@media (max-width: 1200px) {
	.header__top_info-text {
		display: none;
	}
	.header__top_info {
		display: grid;
		grid-template-columns: 1fr;
	}
	.header__bottom_text {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 8px;
		padding-top: 12px;
		font-size: 14px;
    		line-height: 20px;
		align-items: center;
		text-align: center;
	}
	.main-banner__container {
		display: table-column;	
	}
	.footer_top {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.footer__top_info {
		order: 1;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.footer__top_info-contacts {
		order: 3;
	}
	.footer__top_logo {
		order: 2;
	}
	.footer_bottom {
		display: block;
		text-align: center;
	}
	.footer_subtitle {
		padding-top: 8px;
	}
	.main-reviews__block_reviews {
   		height: 276px;
	}
	.main-reviews__block_reviews-title {
		padding: 32px 15px;
	}
	.main-reviews__block_reviews-subtitle {
		padding: 24px 15px;
	}
}
@media (max-width: 990px) {
	.header__bottom {
		display: none;
	}
	.header__bottom_text {
		display: none;
	}
	.header__top_info {
		text-align: center;
	}
	.header__top_info-contacts a {
		font-size: 20px;
    		line-height: 28px;
}
	.header__top_info-contacts p {
		display: none;
	}
	.header__top_info-contacts {
		display: flex;
		justify-content: space-between;
		gap: 16px;
	}
	.header__top_info-svg {
		display: block;
	}
	.main-services__info {
		display: grid;
		grid-template-columns: 1fr;
    }
	.main-documents__block {
		display: grid;
		grid-template-columns: 1fr;
    }
	.footer_bottom {
		display: block;
		text-align: center;
	}
	.footer_subtitle {
		padding-top: 8px;
	}
	.main-reviews__block_reviews-title {
		padding: 32px 16px;
	}
	.main-reviews__block_reviews-subtitle {
		padding: 24px 16px;
	}
}
@media (max-width: 600px) {}


